﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div style="width:30%">
    <p>This is a newborn RSS reader application.</p>
    <p>Unfortunately it doesn't yet support "reading" the feed - meaning that no data is stored about what articles have been seen.</p>
    <p>Furthermore, it currently loads 20 stories from each added feed - if available - but otherwise has no knowledge about those specific stories.</p>
</div>
