﻿@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<div>
    <div>
        Developer:
        Leblay Dávid
    </div>
    <img style="width: 150px; border-radius: 50%;"
         src="http://cc-journey-student-profile-images.s3.amazonaws.com/dea46fc2-3eb6-47b8-bd17-e66f0ede1306">
</div>

<address>
    <strong>Support:</strong> <a href="mailto:leblaydavid7@gmail.com">leblaydavid7@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:leblaydavid7@gmail.com">leblaydavid7@gmail.com</a>
</address>
