﻿@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Index";
}

<h1>
    Welcome, @ViewData["username"]!
</h1>
<div id="feed-container">
    <div id="new-feed-div" class="inline-div">
        <!-- Temporarily disabled as feature is not yet ready -->
        <select id="new-feed-select" class="input-sm" onchange="OnFeedSelect()" disabled>
            <option value="1">Upcoming feature...</option>
            <option value="custom">...New feed</option>
        </select>
        <input id="new-feed" class="form-control-static" placeholder="RSS page link">
        <button id="add-to-feed" class="btn" onclick="OnAddToFeed()">Add to feed</button>
    </div>
    <div id="custom-feed" class="inline-div" style="display: none">
        <label for="new-custom-feed">New feed:</label>
        <input name="new-custom-feed" id="new-custom-feed" class="form-control-static">
        <button class="btn" onclick="OnAddNewFeed()">Add</button>
    </div>
    <div id="news-container">
    </div>
</div>
<div id="data-username" hidden>@ViewData["username"]</div>
<environment include="Development">
    <script src="~/js/home.js" asp-append-version="true" defer></script>
</environment>
<environment exclude="Development">
    <script src="~/js/home.min.js" asp-append-version="true" defer></script>
</environment>