﻿@using Microsoft.AspNetCore.Http
@model GeneraliRSS.Models.User

@{
    ViewData["Title"] = "Login";
}

<h2>Registration</h2>

<h4>
    To use the site you must log in.<br>
    If you don't have an account, you can register below.
</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-inline">
                <div class="form-group">
                    <input type="submit" value="Register" formaction="Login/Register" class="btn btn-default" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" formaction="Login/Login" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
