﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.news-item {
    padding: 10px;
    margin: 15px;
    background-color: #ffffff42;
}

.news-item-title {
    font-size: x-large;
    padding: 10px;
    background-color: #ffffff4a
}

.news-item-title * {
    padding: 10px 0;
}

.news-item-text {
    overflow: auto;
    display: inline;
    padding: 10px;
}

#custom-feed {
    padding: 10px 40px;
    background-color: #ffffff24;
    width: 49%
}

#new-feed-div {
    padding: 10px 40px;
    background-color: #ffffff24;
    width: 50%
}

.inline-div {
    display: inline-block
}

#feed-container {
    overflow: scroll;
    background-color: #91a5cc;
    height: 80vh
}

.news-item-text * {
    max-width: 98%;
}